<!-- navbar.component.html -->

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <!-- <div class="container"> -->
    <!-- Left side content -->
    <span class="navbar-brand homenavigator" [routerLink]="['']">IBM Store Engagement</span>

    <!-- Right side content -->
    <div class="d-flex flex-grow-1 justify-content-end">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="#">Store Associate</a>
        </li>
      </ul>
    </div>
  <!-- </div> -->
</nav>
<router-outlet></router-outlet>